.col-sm-12.col-md-12.col-xs-12.main 
  .container#game    
    .row
      - @games.each do |game|
        .col-md-4.col-xs-12.col-lg-4.col-sm-12
          .panel.panel-primary
            .panel-heading
              %h3 
                #{game[0]}
                - if game[1] >= 20000
                  %img.mini.pull-right{:src => "/img/games/badge_2000.png"}
                - elsif game[1] >= 15000 && game[1] < 20000
                  %img.mini.pull-right{:src => "/img/games/badge_1000.png"}
                - elsif game[1] >= 10000 && game[1] < 15000
                  %img.mini.pull-right{:src => "/img/games/badge_10000.png"}
                - elsif game[1] >= 5000 && game[1] < 10000
                  %img.mini.pull-right{:src => "/img/games/badge_5000.png"}
                - elsif game[1] >= 1000
                  %img.mini.pull-right{:src => "/img/games/badge_#{(game[1]/1000).to_i}000.png"}
                - elsif game[1] >= 500
                  %img.mini.pull-right{:src => "/img/games/badge_500.png"}
                - elsif game[1] >= 250
                  %img.mini.pull-right{:src => "/img/games/badge_250.png"}
                %span.badge
                  #{game[1]} puntos
            .panel-body
              %a.thumbnail{:href=>"#{game[3]}"}
                %img{:src=>"#{game[4]}"}
            .panel-footer
              %p 
                %strong #{game[2]}
