.col-sm-12.col-md-12.col-xs-12.main 
  .container-fluid.separator.align-left
    .row
      - if @nuevos.size > 0
        .col-xs-12.col-md-4#news
          .panel.panel-primary
            .panel-heading
              %h1 
                %i.fa.fa-envelope-o
                Mensajes
                %span.badge.pull-right#news-size #{@nuevos.size}
            .panel-body
              %ul.no-list
                - @nuevos.each do |mensaje|
                  %li{:id => "#{mensaje.id}" }
                    %span.mail-created_at #{mensaje.created_at.strftime("%d-%b")}
                    %span.mail-sender #{mensaje.from_user}
                    %a.icon{:onclick => "borrarMensaje(#{mensaje.id});visitado()", :role => "button", :title => "Borrar"}
                      %i.fa.fa-trash.fa-2x
                    %a.icon{:onclick => "clear_message(#{mensaje.id})", :title => "Marcar como leído"}
                      %i.fa.fa-check.fa-2x
                    %hr
                    %span.mail-subject #{mensaje.message}
                    %span.mail-message-preview{:class => "#{mensaje.id}"}
            .panel-footer
              %p Deberías de revisar tus mensajes
      - if @alerts.length  > 0
        .col-xs-12.col-md-4
          .panel.panel-primary
            .panel-heading
              %h1 
                %i.fa.fa-bell
                Alertas
                %span.badge.pull-right #{@alerts.size}
            .panel-body.message-preview
              - @alerts.each do |alert|
                %li
                  %form{:id => "form#{alert.id}", :action => "/clear/alert/#{alert.id}", :method => "POST"}
                    %btn{:onclick => "document.getElementById(\'form#{alert.id}\').submit();", :title => "Marcar como visto", :type => "submit"}
                      %h5.media-heading
                        %strong #{alert.game.upcase}
                      %p.small.text-muted
                        %i.fa.fa-clock-o
                        #{alert.created_at.strftime("%d / %b / %Y")}
                      %p #{alert.message}
      - if @better != nil
        .col-md-4.col-xs-12.col-lg-4.col-sm-12
          .panel.panel-primary
            .panel-heading
              %h3 
                Tu mejor puntación #{@game[0]}
                %img.mini.pull-right{:src => "/img/gold_cup.png"}
                %span.badge
                  #{@better.score} puntos
            .panel-body
              %a.thumbnail{:href=>"#{@game[1]}"}
                %img{:src=>"#{@game[2]}"}
    .row
      .panel.panel-primary
        .panel-heading
          %h1 Tus últimas notas
        .panel-body
          - if @notas.size > 0
            .col-sm-12.col-md-12.col-xs-12
              - @notas.each do |nota|
                .col-xs-12.col-sm-12.col-md-4.col-lg-4
                  .ampliar.offer.offer-default{:id => "#{nota.id}"}
                    .shape
                      %a{:onclick => "notas(#{nota.id})"}
                        .shape-text
                          borrar
                    .offer-content
                      %h3.lead
                        #{nota.name}
                      %p
                        #{nota.description}
                        %br
                          #{nota.created_at.strftime("%d / %b / %Y")}
          - else
            %h2 Anímate y guarda tus tareas en las notas y las podrás ver aquí.