!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    
    %title EduTech
    / Bootstrap core CSS
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/dashboard.css", :rel => "stylesheet"}
    %link{:href => "/css/mth-draw.css", :rel => "stylesheet"}
    %link{:href => "/css/grumble.min.css", :rel => "stylesheet"}
    %link{:href => "/css/games.css", :rel => "stylesheet"}
    %link{:href => "/css/notes.css", :rel => "stylesheet"}
    %link{:href => "/css/message.css", :rel => "stylesheet"}
    %link{:href => "/css/alert.css", :rel => "stylesheet"}
    %link{:href => "/img/logo.png", :rel => "icon"}
    %script{:src => "/js/ie-emulation-modes-warning.js"}
    %script{:src => "/js/message.js"}
    %script{:src => "//code.jquery.com/jquery-1.10.2.min.js"}
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
    %script{:src => "http://www.google.com/jsapi"}
    %script{:src => "/js/chartkick.js"}
  %body
    .container-fluid
      .row
        .col-sm-2.col-md-2.sidebar
          %ul.nav.nav-sidebar
            #logo
            - if /home/.match(to())
              %li.selected
                %a{:href => "/home", :title => "Inicio"}
                  %i.fa.fa-home
            -else
              %li
                %a{:href => "/home", :title => "Inicio"}
                  %i.fa.fa-home
            - if /notes/.match(to())
              %li.selected
                %a{:href => "/notes", :title => "Notas"}
                  %i.fa.fa-file-text
            - else
              %li
                %a{:href => "/notes", :title => "Notas"}
                  %i.fa.fa-file-text
            - if /game/.match(to())
              %li.selected
                %a{:href => "/game", :title => "Juegos"}
                  %i.fa.fa-gamepad
            -else
              %li
                %a{:href => "/game", :title => "Juegos"}
                  %i.fa.fa-gamepad
            - if /puntuation/.match(to())
              %li.selected
                %a{:href => "/puntuation", :title => "Puntuaciones"}
                  %i.fa.fa-trophy
            -else
              %li
                %a{:href => "/puntuation", :title => "Puntuaciones"}
                  %i.fa.fa-trophy
        .col-sm-12.col-md-12.col-xs-12.header
          .col-sm-12.col-lg-12.col-md-12.col-xs-12.user
            .col-sm-7.col-md-7.col-xs-6.titulo
              %h2
                = @titulo
            .col-sm-4.col-md-4.col-xs-12.info              
              #nombre
                = current_user.name
                = current_user.last_name
              #icons
                %a.btn{:href => "/message"}
                  %i.fa.fa-envelope
                - if (@alerts.length  > 0 )
                  .btn-group
                    %a.btn.dropdown-toggle{:href => "#", "data-toggle"=>"dropdown"}
                      %i.fa.fa-bell
                      %span.caret
                    %ul.dropdown-menu.ul-alert
                      - @alerts.each do |alert|
                        %li.message-preview
                          %form{:id => "form#{alert.id}", :action => "/clear/alert/#{alert.id}", :method => "POST"}
                            %btn{:onclick => "document.getElementById(\'form#{alert.id}\').submit();", :title => "Marcar como visto", :type => "submit"}
                              %h5.media-heading
                                %strong #{alert.game.upcase}
                              %p.small.text-muted
                                %i.fa.fa-clock-o
                                #{alert.created_at.strftime("%d / %b / %Y")}
                              %p #{alert.message}
                - else
                  %a.btn.dropdown-toggle{:href => "#"}
                    %i.fa.fa-bell-slash
                %a.btn{:href => "/settings"}
                  %i.fa.fa-cog
                %a.btn{:href => "/logout"}
                  %i.fa.fa-power-off
            .col-sm-1.col-md-1.col-xs-3.imagen
              - if current_user.sexo == "femenino"
                %img.img-responsive.img-circle.avatar{:src => "/img/kid_girl.png"}/
              - else
                %img.img-responsive.img-circle.avatar{:src => "/img/kid_boy.png"}/  
          =yield

    