%nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      .btn-compose.pull-left
        %a.btn.btn-danger.navbar-btn{"data-toggle" => "tab", :href => "#compose", :role => "tab", :type => "button"}
          %span.glyphicon.glyphicon-pencil
          Nuevo
      %ul.nav.navbar-nav
        %li
          %a{"data-toggle" => "tab", :href => "#inbox", :role => "tab"}
            Bandeja de entrada
            %span.label.label-success #{@nuevos.size}
        %li
          %a{"data-toggle" => "tab", :href => "#sent-mail", :role => "tab"} Mensajes enviados
    / /.navbar-collapse
  / /.container-fluid
.tab-content
  #inbox.tab-pane.active
    .container
      .content-container.clearfix
        .col-md-12
          %h1.content-title Bandeja de entrada
          %input.form-control.mail-search{:placeholder => "Search Mail", :type => "search"}/
          %ul.mail-list
            - @recibidos.each do |mensaje|
              %li{:id => "#{mensaje.status}"}
                %a{:href => "/message/open/#{mensaje.id}"}
                  %span.mail-created_at #{mensaje.created_at}
                  %span.mail-sender #{mensaje.from_user}
                  %span.mail-subject #{mensaje.description}
                  %span.mail-message-preview #{mensaje.message}
  #compose.tab-pane
    .container
      .content-container.clearfix
        %h1.content-title Nuevo
        .col-md-12
          %form{:role => "form", :action => "/message", :method => "post"}
            .form-group
              %input#tokenfield.form-control{:placeholder => "Para",:id => "username", :name => "username", :type => "text"}/
            .form-group
              %input.form-control{:placeholder => "Asunto", :id => "description", :name => "description", :type => "text"}/
            %textarea.form-control{:placeholder => "mensaje" ,:id => "message", :name => "message"}
            .btn-send
              %button.btn.btn-success.btn-lg{:type => "submit"}
                %span.glyphicon.glyphicon-send
                Enviar
  #sent-mail.tab-pane
    .container
      .content-container.clearfix
        .col-md-12
          %h1.content-title Mensajes enviados
          %input.form-control.mail-search{:placeholder => "Search Mail", :type => "search"}/
          %ul.mail-list
            - @enviados.each do |mensaje|
              %li
                %a{:href => ""}
                  %span.mail-created_at #{mensaje.created_at}
                  %span.mail-sender #{mensaje.from_user}
                  %span.mail-subject #{mensaje.description}
                  %span.mail-message-preview #{mensaje.message}