.col-sm-12.col-md-12.col-xs-12.main 
  - @notas.each do |nota|
    .col-xs-12.col-sm-12.col-md-3.col-lg-3
      .ampliar.offer.offer-default{:id => "#{nota.id}"}
        .shape
          %a{:onclick => "notas(#{nota.id})"}
            .shape-text
              borrar
        .offer-content
          %h3.lead
            #{nota.name}
          %p
            #{nota.description}
            %br
              #{nota.created_at}


  .offer.offer-default.col-xs-12.col-sm-12.col-md-6.col-lg-6
    %form.col-xs-12.col-sm-12.col-md-12.col-lg-12{:role => "form" , :action => "/notes", :method => "post" }
      %h1 Nota
      .required-field-block
        %input.form-control.col-xs-12.col-sm-12.col-md-12.col-lg-12{:placeholder => "Asunto", :type => "text", :id => "asunto", :name => "asunto"}
          .required-icon
      %br
      .required-field-block
        %textarea.form-control.col-xs-12.col-sm-12.col-md-12.col-lg-12{:placeholder => "Escribe el texto aquí", :type => "Text", :id => "texto", :name => "texto"}
        .required-icon
      %br
      %button.btn.btn-primary.col-xs-12-col-sm-12.col-md-12.col-lg-12.guardar Guardar