.col-sm-12.col-md-12.col-xs-12.main 
	%h2 Tus Estadísticas
	= bar_chart(@usuarios)

	%h2 Colors
	= bar_chart(@colores)

	%h2 Memoria
	= bar_chart(@memory)

	%h2 Numbers
	= bar_chart(@numeros)

	%h2 PintaMatemáticas
	= bar_chart(@pinta)

	%h2 School Things
	= bar_chart(@ingles)

	%h2 Calculadora
	= bar_chart(@calculadora)




