.col-sm-12.col-md-12.col-xs-12.main
	%h1 Tres Mejores Jugadores
	= column_chart(@podio)
	%h1 Tus Estadísticas
	= pie_chart(@usuarios)
	%br
	%h1 Ranking de juegos
	.row
		.col-sm-6.col-md-6.col-xs-6
			%h2 Colors
			= column_chart(@colores)
		.col-sm-6.col-md-6.col-xs-6
			%h2 Memoria
			= column_chart(@memory)
	.row
		.col-sm-6.col-md-6.col-xs-6
			%h2 Numbers
			= column_chart(@numeros)
		.col-sm-6.col-md-6.col-xs-6
			%h2 PintaMatemáticas
			= column_chart(@pinta)
	.row
		.col-sm-6.col-md-6.col-xs-6
			%h2 School Things
			= column_chart(@ingles)
		.col-sm-6.col-md-6.col-xs-6
			%h2 Calculadora
			= column_chart(@calculadora)

%link{:href => "/css/puntuation.css", :rel => "stylesheet"}